
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #283136;
  background-color: #eeeeee;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {

  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button.green {
  background-color: #00ca74;
}

.button.yellow {
  background-color: #efc84a;
}

.main-navigation {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  margin-bottom: 75px;
}

.main-header-logo {
  display: flex;
  width: 160px;
  height: 65px;
}

.main-header-logo:hover {
  opacity: 80%;
}
.main-header-logo:focus {
  opacity: 30%;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 75px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation a,
.user-navigation a {
  list-style: none;
  color: #000000;

}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 438px;
}

.site-navigation,
.user-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  justify-content: space-around;
  margin-left: 188px;
  margin-right: 200px;
  padding-left: 8px;
  padding-top: 9px;
}

.site-navigation a {
  line-height: 30px;
  text-align: right;
  color: #000000;
}

.site-navigation a:hover {
  color: #fb565a;
}
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3)
}
.site-navigation a:active {
  color: #000000;
  text-decoration: underline;
}

.user-navigation {
  max-width: 115px;
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #283136;
  margin: 0;
  padding: 0;
}
.user-navigation a {
  list-style: none;
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider {
  position: relative;
   background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;

    width: 4px;
    height: 4px;
    margin: -4px;

    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}


.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.catalog-title-wrapper {
  display: flex;
  justify-content: center;
}
.catalog-title {
  text-decoration: none;
  font-size: 55px;
  line-height: 43px;
  font-weight: 400;
  width: 730px;
}

/*main*/
.white {
  background-color: white;
}

.advantages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  text-align: left;
}

.advantages-wrapper {
  margin-top: 80px;
}

.advantages-item {
  width: 300px;
}

.advantages h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.about {
  display:flex;
  justify-content: space-between;
}

.about li{
  list-style: none;
}
.studio-nerds span {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.studio-nerds {
  width: 650px;
  text-align: left;
}

.stats-nerds {
  width: 360px;
}

.what-we-do {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.stat-percents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  text-align: left;
  color: #000000;
}

.percents {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  text-align: left;
}

.great-conditions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.great-great-conditions {
  display: flex;
  align-items: flex-start;
}

.partners {
  display: flex;
  justify-content: space-between;
}

/*catalog styles*/

.site-navigation-current {

}

.upper-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.catalog-title {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 116px;
  font-size: 55px;
  line-height: 43px;
  font-weight: 500;


}
.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-bottom: 60px;
}
.catalog-item {
  width:360px;

  margin-bottom: 33px;
}

.catalog-item:nth-child(2n) {
  margin-left: 40px;
}


.filters {
  width: 261px;
}

.filters ul{
  list-style: none;
}

.legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog {
  display: flex;
}

.catalog ul {
  list-style: none;
}
.catalog a {
  list-style: none;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;
}


/*footer*/

.main-footer .container {
  display: flex;
}

.main-footer {
  margin-top: 69px;
}

.footer-social {
  display: flex;
  list-style: none;
  margin-right: 139px;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover {
  background-color: #e74246;
}


.social-button:focus {
  background-color: #d7373b;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.social-discount {
  width: 545px;
}

.social-discount h4 {
  display: flex;
  text-align: left;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 40px;
}
.social-discount p {
  display: flex;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  text-align: left;
  margin-bottom: 76px;
  font-style: normal;
}


.popup-email-form {
  display: none;
}
