
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #283136;
  background-color: #eeeeee;

}

img {
  max-width: 100%;
  height: auto;
}

/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: white;
}

.header {
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  width: 82px;
  height: 13px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
}
.button.green {
  background-color: #00ca74;
}

.button.yellow {
  background-color: #efc84a;
}

/*.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}
*/


/*header*/

.main-header {
  min-height: 545px;
}
.main-navigation {
  text-transform: uppercase;
  display: flex;
  min-height: 115px;
}
.main-navigation h1 {
  font-size: 55px;
  text-align: center;
  line-height: 55px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo:hover {
  color:;
}

.main-header-logo:focus {
  color: ;
}


.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 520px;
  justify-content: space-between;
  margin-left: 202px;
  margin-right: 245px;
}

.site-navigation a {
  line-height: 30px;
  text-align: right;
  color: #000000;

}

.site-navigation a:hover {
  color: #fb565a;
}
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3)
}
.site-navigation a:active {
  color: #000000;
  text-decoration: underline;
}

.basket {
  list-style: none;
  text-decoration: none;
  color: #283136;
  text-decoration: none;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

/*main*/
.advantages {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: space-between;
margin-bottom: 80px;
}

.advantages-item {
  width: 300px;
}

.advantages h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.about {
  display:flex;
  justify-content: space-between;
}

.about li{
  list-style: none;
}

.about span {
  font-size: 45px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}
.about h4 {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.studio-nerds {
  width: 650px;
}

.stats-nerds {
  width: 360px;
}

.stat-percents {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  text-align: left;
  color: #000000;
}

.partners {
  display: flex;
  justify-content: space-between;
}

/*catalog styles*/
.catalog-title {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 116px;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-bottom: 60px;
}
.catalog-item {
  width:360px;

  margin-bottom: 33px;
}

.catalog-item:nth-child(2n) {
  margin-left: 40;
}


.filters {
  width: 261px;
}

.filters ul{
  list-style: none;
}

.legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog {
  display: flex;
}

.catalog ul {
  list-style: none;
}
.catalog a {
  list-style: none;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;
}


/*footer*/

.main-footer .container {
  display: flex;
}

.footer-social {
  display: flex;
  width: 260px;
  list-style: none;
  margin-right: 139px;
}

.social-discount {
  width: 545px;
}

.social-discount h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.social.button {
  text-align: center;
}


.main-footer {
  margin-top: 69px;
}

.popup-email-form {
  display: none;
}
